*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.heading{
    background-color: rgb(2, 2, 27);
    color: white;
    height: 50px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 50px;
    margin-top: 5px;
}

.container{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.choices{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#rock{
    background-color: rgb(128, 128, 128);
}
#paper{
    background-color: rgb(254, 155, 171);
}
#scissor{
    background-color: aquamarine;
}

.choices:hover{
    border: 2px solid black;
    transform:scale(1.1);
    cursor: pointer;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    font-weight: 700;
    margin-top: 30px;
}
.score{
    font-size: 30px;
}
#user-point ,#computer-point {
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.end-div{
    background-color: rgb(2, 2, 27);
    color: white;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 25px;
    display: inline-flex;
    margin-top: 60px;
    padding: 10px;
    border-radius: 10px;
}